table {
    border: 1px solid black;
    width: 500px;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}

td, th {
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: rgb(85, 84, 84);
    color: white;
}

.direita {
    text-align: right;
}

thead > tr > th {
    position: sticky;
    top: 0;
    background-color: rgb(87, 86, 86);
    border: 1 solid black;
}

tbody > tr:nth-child(odd) {
    background-color: lightgray;
}

.numero {
    background-color: rgb(87, 86, 86);
    text-align: right;
    color: white;
}